<!-- フラッシュメッセージ表示用 -->
<% if notice %>
  <p class="notice success relative mt-20 bg-success text-primary"><%= notice %></p>
<% end %>う

<% if alert %>
  <p class="alert error relative mt-20 bg-error text-primary"><%= alert %></p>
<% end %>