<!-- フラッシュメッセージ表示用(いづれ、success用のフラッシュメッセージも作りたい) -->
<% if notice %>
  <p class="print:hidden notice success flex justify-center items-center relative mt-8 mx-auto h-16 w-[90%] bg-success rounded-xl text-primary"><%= notice %></p>
<% end %>

<% if alert %>
  <p class="print:hidden alert error flex justify-center items-center relative mt-8 mx-auto h-16 w-[90%] bg-error rounded-xl text-primary"><%= alert %></p>
<% end %>