<!-- フラッシュメッセージ表示用(いづれ、success用のフラッシュメッセージも作りたい) -->
<div id="flash-messages" class="fixed top-4 left-0 w-full z-[9999] p-4 pointer-events-none flex flex-col items-center space-y-2">
  <% if notice %>
    <div class="print:hidden notice success flex justify-center items-center text-center h-16 w-[90%] bg-success rounded-xl text-primary pointer-events-auto shadow-lg"
         data-controller="flash"
         data-flash-duration-value="2500"> <%# 2.5秒 %>
      <%= notice %>
    </div>
  <% end %>

  <% if alert %>
    <div class="print:hidden alert error flex justify-center items-center h-16 w-[90%] bg-error rounded-xl text-primary pointer-events-auto shadow-lg"
         data-controller="flash"
         data-flash-duration-value="4500"> <%# 例えば4.5秒表示したい場合 %>
      <%= alert %>
    </div>
  <% end %>
</div>
