<header>
  <!-- ナビゲーションバー -->
  <nav class="flex items-center justify-between flex-wrap bg-secondary p-6">
    <div class="flex items-center flex-shrink-0 mr-6">
      <a href="/" class="font-semibold text-xl drop-shadow-md text-primary tracking-tight">すいみんにっし</a>
    </div>
    <div class="flex space-x-6">
      <a href="#" class="text-neutral hover:text-primary">使いかた</a>
      <a href="#record" class="text-neutral hover:text-primary">記録する</a>
      <a href="#signup" class="text-neutral hover:text-primary">新規登録</a>
      <a href="#login" class="text-neutral hover:text-primary">ログイン</a>
    </div>
    </nav>
</header>