<header class="fixed top-0 left-0 w-full z-50 p-4 bg-cover bg-secondary">
<!-- ナビゲーションバー -->
  <nav class="flex items-center justify-between flex-wrap">
    <div class="flex items-center flex-shrink-0 mr-6">
      <a href="/" class="text-2xl drop-shadow-md text-primary">すいみんにっし</a>
    </div>
    <div class="flex space-x-6">
      <a href="#" class="text-neutral hover:text-primary">使いかた</a>
      <a href="/" class="text-neutral hover:text-primary">記録する</a>
      <a href="/users/sign_up" class="text-neutral hover:text-primary">新規登録</a>
      <a href="/users/sign_in" class="text-neutral hover:text-primary">ログイン</a>
    </div>
  </nav>
</header>