<table class="text-center text-sm text-neutral"> <!-- 要カスタマイズ -->
  <thead>
    <tr class="p-4">
      <th class="border border-secondary bg-primary">日</th>
      <th class="border border-secondary bg-primary">曜日</th>
      <th class="border border-secondary bg-primary">就床時刻</th>
      <th class="border border-secondary bg-primary">就寝時刻</th>
      <th class="border border-secondary bg-primary">覚醒時刻</th>
      <th class="border border-secondary bg-primary">起床時刻</th>
      <th class="border border-secondary bg-primary">睡眠時間</th>
      <th class="border border-secondary bg-primary">中途覚醒(回)</th>
      <th class="border border-secondary bg-primary">昼寝時間(分)</th>
      <th class="border border-secondary bg-primary">備考</th>
      <th class="border border-secondary bg-primary">編集</th>
    </tr>
  </thead>
  <tbody>
    <% (@start_date..@end_date).each do |date| %> <!-- 月初から月末までの日付を繰り返し処理する -->
      <tr class="border border-secondary bg-primary">
        <td class="p-2 border border-secondary bg-primary"><%= date.day %></td> <!-- 日付 -->
        <td class="p-2 border border-secondary bg-primary"><%= %w[日 月 火 水 木 金 土][date.wday] %></td> <!-- 曜日を日本語で表示 -->
        <td class="p-2 border border-secondary bg-primary">--:--</td> <!-- 就床時刻 -->
        <td class="p-2 border border-secondary bg-primary">--:--</td> <!-- 就寝時刻 -->
        <td class="p-2 border border-secondary bg-primary">--:--</td> <!-- 覚醒時刻 -->
        <td class="p-2 border border-secondary bg-primary">--:--</td> <!-- 起床時刻  -->
        <td class="p-2 border border-secondary bg-primary">00h00m</td> <!-- 睡眠時間 -->
        <td class="p-2 border border-secondary bg-primary">0</td> <!-- 中途覚醒(回) -->
        <td class="p-2 border border-secondary bg-primary">0</td> <!-- 昼寝時間(分) -->
        <td class="p-1 border border-secondary bg-primary">
          <textarea rows="3" cols="42" placeholder="42文字まで" class="h-15 w-48 field-sizing-content bg-transparent border border-neutral-300 rounded"></textarea>
        </td> <!-- 備考 -->
        <td class="p-2 border border-secondary bg-primary">
          <span class="material-symbols-outlined">
            edit_square
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>