<!-- 記録を保存ボタン -->
<button class="btn ml-5 bg-white text-neutral" onclick="save_logs.showModal()">記録を保存</button>
<dialog id="save_logs" class="modal">
  <div class="modal-box">
    <h3 class="font-bold">気張りどころです</h3>
    <p class="py-4">ESCキーか閉じるボタンを押してね</p>
    <div class="modal-action">
      <form method="dialog">
        <button class="btn">閉じる</button>
      </form>
    </div>
  </div>
</dialog>