@tailwind base;
@tailwind components;
@tailwind utilities;

/* GoogleFonts */
@font-face {
  font-family: "Kiwi Maru";
  src: url("/assets/fonts/KiwiMaru.woff2") format("waff2");
}

/* クラス指定用 */
.kiwi-maru-regular {
  font-family: "Kiwi Maru";
}
