<p><%= @resource.name %>様</p>

<p>パスワードリセットを受け付けました。下のリンクから、パスワードの再設定に進んでください。</p>

<p><%= link_to 'パスワードリセットのリンク', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに覚えがなければ、気にせず削除してください。</p>
<p>リンクから新しいパスワードを設定するまで、パスワードは変更されません。</p>
