<div class="relative top-24 flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="mt-10 text-center text-2xl/9 font-bold text-neutral">ユーザー退会</h2>
  </div>

  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <div class="mt-10 text-center text-neutral">
      <p>退会すると、これまでの保存データが全て消えてしまします。</p>
      <p>2度と戻りません。</p>
      <p class="text-warning">本当に退会しますか？</p>
    </div>
  </div>

  <div class="actions mt-8 flex w-full justify-center rounded-md bg-warning px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-red-900 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
    <%= button_to "退会する", users_destroy_path, method: :delete %>
  </div>

  <div class="mt-8 text-center">
    <%= link_to "やっぱりやめる", users_edit_profile_path %>
  </div>
</div>